.DS_Store
/.tmp/
/node_modules/
/lib/**/*.md
/lib/**/*.yml
/lib/**/LICENSE
/lib/**/package.json
/lib/**/Gruntfile*
/lib/**/Makefile*
/lib/angular-local-storage/demo/
/lib/angular-material/modules/
/lib/angular-material/themes/
/lib/angular-mocks/
/lib/angular-ui-router/api/
/lib/angular-ui-router/src/
/lib/csshake/css/
/lib/csshake/sass/
/lib/fontawesome/less/
/lib/fontawesome/scss/
/lib/js-xlsx/odsbits/
/lib/js-xlsx/test_files/
/lib/js-xlsx/tests/
/lib/js-xlsx/*.html
/lib/js-xlsx/*.js
/lib/js-xlsx/*.lst
*.tmp.js
