<div layout="column" layout-align="center start" class="config" style="margin-left: 15px;">
	<md-text-float label="Redmine URL" ng-model="Config.url"></md-text-float>
	<md-text-float label="API Key" ng-model="Config.apikey"></md-text-float>
	<md-checkbox ng-model="Config.checkRedmineCustomFieldListInClient"><span translate>Check Redmine Custom Field List</span></md-checkbox>
	<md-button href="https://github.com/tsaikd/Excel2Redmine/blob/master/doc/userguide.md" target="_blank" class="md-raised" style="margin-top: 2em;" translate>User guide</md-button>
</div>