<div layout="column" style="height: 100vh; overflow: auto;">
	<div layout="row" layout-margin>
		<input type="file" ng-files-model="excelFile">
		<select ng-show="projectData.projects.length"
			ng-options="idx as project.fullname for (idx, project) in projectData.projects"
			ng-model="projectData.selectIdx">
		</select>
		<md-button ng-click="checkImportedRow($event)" class="md-raised" style="margin-left: 0.5em;" translate>Check</md-button>
		<md-button ng-click="import($event)" class="md-raised md-primary" style="margin-left: 0.5em;" translate>Import</md-button>
	</div>
	<div layout="row">
		<div ng-show="!wbmap[0]" style="position: relative;">
			<i class="fa fa-long-arrow-up" style="margin-left: 60px; font-size: 72pt; color: red; -webkit-transform: rotate(-30deg); -moz-transform: rotate(-30deg); -o-transform: rotate(-30deg); transform: rotate(-30deg);"></i>
			<span style="position: relative; font-size: 35pt; margin-left: 20px; bottom: -10px;" translate>Select excel file</span>
		</div>
		<md-tabs md-selected="selectedSheet" ng-show="wbmap[0]" md-align-tabs="bottom" layout-margin>
			<md-tab ng-repeat="tab in wbmap" label="{{tab.name}}">
				<md-content>
					<table class="table-border sheet" style="min-width: 100%; margin-top: 0.5em;">
						<tbody>
							<tr>
								<th></th>
								<th ng-repeat="x in tab.xaxis" style="text-align: center;">
									<div>{{x}}</div>
								</th>
							</tr>
							<tr ng-repeat="y in tab.yaxis">
								<th style="width: 5em;">
									<md-checkbox ng-model="tab.yinfo[y].created" ng-class="{'md-warn': tab.yinfo[y].error}" title="{{tab.yinfo[y].error}}" aria-label="Created" disabled>{{y}}</md-checkbox>
								</th>
								<td ng-repeat="x in tab.xaxis"
									ng-class="{
										'header-exist': tab.xinfo[x].exist,
										'text-valid': tab.data[x][y].valid === true,
										'text-invalid': tab.data[x][y].valid === false,
										'text-warn': tab.data[x][y].warn === true}">
									<div title="{{tab.data[x][y].filtered}}" style="white-space: pre;">{{tab.data[x][y].value}}</div>
								</td>
							</tr>
						</tbody>
					</table>
				</md-content>
			</md-tab>
		</md-tabs>
	</div>
</div>